* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  cursor: pointer;
}
.section-hr {
  margin: auto;
  width: 100%;
  height: 1.5px;
  background-color: #d9d9d9;
}
body {
  background-color: white;
  font-family: "FactorA", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.modal__backdrop {
  position: fixed;
  top: 3.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  background: rgba(195, 63, 190, 0.495);
  transition: 0.3s ease-in;
  backdrop-filter: blur(4px);
  min-height: 100vh;
}
.modal__content {
  margin: 3rem auto;
  position: relative;
  width: 700px;
  transition: opacity 0.3s ease-in;
  background-clip: padding-box;
  border-radius: 16px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  text-align: center;
  max-width: 100%;
}
.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 15;
  pointer-events: auto;
}
.modal__btn-close {
  margin: 0.5em 1em 0 0;
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #a4a4a4;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
}
.modal__btn-close:focus,
.modal__btn-close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
.checkbox-show {
  display: none;
}
@media screen and (max-width: 480px) {
  .modal__content {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .modal__btn-close {
    display: none;
  }
  .show-pass {
    padding: 0.09rem 0.2rem;
  }
}
.slick-track {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.slick-list {
  overflow: hidden;
}
.slider {
  margin-top: 3em;
  padding: 0 5rem ;
  position: relative;
}
.slider .slick-arrow {
  top: 3%;
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  padding: 0.2rem;
  border: none;
  transition: 0.7s;
  cursor: pointer;
}
.slider .slick-prev {
  left: -2%;
  background: url("/public/img/landing/left-arrow.png") no-repeat;
  background-size: cover;
}
.slider .slick-next {
  right: -2%;
  background: url("/public/img/landing/right-arrow.png") no-repeat;
  background-size: cover;
}
.slider img {
  max-width: 13rem;
  transition: 0.3s;
}
.slider img:hover {
  transform: scale(1.01);
}
@media screen and (max-width: 480px) {
  .slider {
    margin-top: 3em;
    padding: 0;
    position: relative;
  }
  .slider img {
    max-width: 9rem;
  }
  .slider .slick-arrow {
    top: 5px;
    width: 30px;
    height: 30px;
  }
  .slider .slick-prev {
    margin-left: 0;
    left: -5px;
  }
  .slider .slick-next {
    right: -5px;
    margin-right: 0;
  }
}
.form-content {
  width: 25rem;
  margin: auto;
  min-height: 100vh;
  line-height: 1.2;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  gap: 1em;
  padding: 1.2rem 0.5rem;
  box-sizing: border-box;
}
.form .label-form {
  position: absolute;
  background-color: white;
  padding: 5px;
  display: inline-block;
  margin-bottom: 0;
}
.form label[for="tel"] {
  margin-top: -10px;
  margin-right: 11rem;
}
.form label[for="pass"] {
  margin-top: 56px;
  margin-right: 14.5rem;
}
.form .form__item {
  border-radius: 14px;
  background-color: white;
  width: 19.3rem;
  padding: 1rem 2rem;
  color: black;
}
.form_pic {
  margin: auto;
  width: 4.5rem;
  text-align: center;
  padding-top: 1rem;
}
.form_pic img {
  max-width: 100%;
}
.form__font_size {
  font-size: 14px;
}
.form__link_color {
  color: #3E88F5;
  text-decoration: none;
}
.form__link_margin {
  margin-top: 0.4rem;
}
.show-pass {
  position: absolute;
  color: purple;
  cursor: pointer;
  right: 40.4%;
  top: 17rem;
}
.input-border {
  border: 1.5px solid #b9b9b9;
  box-sizing: border-box;
}
.error {
  border: 1.5px solid #ff5f7fb1;
}
@media screen and (max-width: 480px) {
  .form .form__item {
    width: 18rem;
  }
  .form-content {
    width: 100%;
  }
  .show-pass {
    right: 70px;
    top: 16.9rem;
  }
}
@font-face {
  font-family: "FactorA";
  src: url(/public/fonts/app/Factor/FactorA-Regular.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FactorA";
  src: url(/public/fonts/app/Factor/FactorAMedium-Regular.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FactorA";
  src: url(/public/fonts/app/Factor/FactorA-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fear Factor Black";
  src: url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.eot");
  src: url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.woff") format("woff"), url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/d44d435b27f5f0eeb7f13630033c0204.svg#Fear Factor Black") format("svg");
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 6rem;
  border: 1px solid transparent;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
}
.header img {
  max-width: 3rem;
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.header__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  font-weight: 700;
}
.header__item a:hover {
  color: rgba(0, 0, 0, 0.597);
}
.header__btn {
  background: linear-gradient(70deg, #B000B9, #FF5F7E, #FFAB4C);
  padding: 0.6rem;
  border-radius: 14px;
  width: 7rem;
  border: none;
  color: white;
  transition: 0.05s;
  cursor: pointer;
}
.header__btn:hover {
  transform: scale(1.03);
}
.header__nav {
  display: block;
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu_button {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 30;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.burger-menu_img {
  position: fixed;
  top: 15px;
  right: 80px;
  z-index: 30;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.color {
  background: no-repeat center / 60% url("/public/img/landing/btn_icon1.png");
}
.no-color {
  background: no-repeat center / 60% url("/public/img/landing/person.png");
}
.none {
  display: none;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}
.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.325);
}
.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  border-radius: 20px;
  position: absolute;
  width: 30px;
  height: 3.5px;
  background: #c4c4c4;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -9px;
}
.burger-menu_lines::after {
  content: '';
  top: 9px;
}
.burger-menu_active .burger-menu_lines::before,
.burger-menu_active .burger-menu_lines::after,
.burger-menu_active .burger-menu_lines {
  background: linear-gradient(70deg, #B000B9, #FF5F7E, #FFAB4C);
}
.burger-menu_nav {
  padding-top: 2.5rem;
  position: fixed;
  top: 3.8rem;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 23rem;
  width: 100%;
  background-color: #f8f8fa;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-weight: 200;
  text-decoration: none;
  color: #000000;
}
.burger-menu_link:hover {
  filter: brightness(0.97);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  cursor: auto;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background: rgba(195, 63, 190, 0.495);
  backdrop-filter: blur(4px);
}
@media screen and (max-width: 480px) {
  .burger-menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header-box {
    padding-bottom: 1.5rem;
    width: 100%;
  }
  .header {
    padding: 0.5rem 2rem;
  }
  .header img {
    max-width: 2rem;
  }
}
.mainblock {
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainblock-banks {
  background: no-repeat center / 100% url("/public/img/landing/33.jpg");
  background-size: cover;
}
.mainblock-company {
  background: no-repeat center / 100% url("/public/img/landing/company.jpg");
  background-size: cover;
}
.mainblock-staff {
  background: no-repeat center / 100% url("/public/img/landing/staff2.jpg");
  background-size: cover;
}
.main-staff {
  margin: 35vh 0 4rem 4rem;
}
.main-company {
  margin: 35vh 0 2rem 4rem;
}
.main-bank {
  margin: 7rem 0 0 4rem;
}
.main__title {
  cursor: default;
  font-weight: 800;
  font-size: 50px;
}
.main__subtitle {
  cursor: default;
  margin-top: 1.5%;
  font-size: 18px;
  font-weight: 600;
  width: 35%;
}
.main__btns {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 2.5%;
}
.main__btn_icon {
  border-radius: 14px;
  background: linear-gradient(70deg, #B000B9, #FF5F7E, #FFAB4C);
  padding: 1.6px;
  width: 17rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
}
.main__btn_icon:hover {
  opacity: 0.9;
}
.main__btn_icon span {
  background-color: white;
  font-size: 14px;
  display: block;
  border-radius: 13px;
  box-sizing: border-box;
}
.main__btn_icon span::before {
  padding: 0.3rem 1rem;
  background-size: 18px 18px;
}
.btn-without-icon {
  border-radius: 14px;
  width: 19.5rem;
  background: linear-gradient(70deg, #B000B9, #FF5F7E, #FFAB4C);
  padding: 1.6px;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
}
.btn-without-icon:hover {
  opacity: 0.9;
  color: #000 !important;
}
.btn-without-icon.btn_color:hover {
  color: #fff !important;
}
.btn-without-icon span {
  background-color: white;
  font-size: 14px;
  display: block;
  border-radius: 13px;
  box-sizing: border-box;
}
.icon_padding {
  padding: 1.1rem;
}
.btn_padding {
  font-weight: 700;
  padding: 1.1rem 2rem;
}
.btn_color {
  color: white;
}
.company::before {
  background: url("/public/img/landing/btn_icon2.png") no-repeat;
}
.person::before {
  background: url("/public/img/landing/btn_icon1.png") no-repeat;
}
.main__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 85%;
  margin: auto;
  font-size: 13px;
  font-weight: 300;
}
.main__footer a {
  cursor: pointer;
  color: white;
  border: 1.8px solid #ff5f7f;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.145);
}
.main__footer a:hover {
  background-color: rgba(255, 255, 255, 0.153);
}
@media screen and (max-width: 480px) {
  .mainblock-banks {
    background: no-repeat center url("/public/img/landing/33.png");
    background-size: cover;
    height: 27rem;
  }
  .mainblock-banks h1 {
    font-size: 28px;
  }
  .mainblock-company {
    background: no-repeat center url("/public/img/landing/main-company-mob2.png");
    background-size: cover;
    height: 27rem;
    color: white;
  }
  .mainblock-company h2 {
    font-weight: 100;
  }
  .mainblock-company h1 {
    font-size: 28px;
  }
  .mainblock-staff {
    background: no-repeat center url("/public/img/landing/main-staff-mob2.png");
    background-size: cover;
    height: 27rem;
    color: white;
  }
  .mainblock-staff h2 {
    font-weight: 100;
  }
  .mainblock-staff h1 {
    font-size: 28px;
  }
  .main__title {
    font-size: 26px;
  }
  .main__subtitle {
    font-size: 16px;
    margin-top: 4.5%;
    width: 100%;
  }
  .title-box {
    margin-left: 1rem;
    width: 80%;
  }
  .main-company {
    margin: 5rem 0 2rem 0;
  }
  .main-bank {
    margin: 5rem 0 2rem 0;
  }
  .main-staff {
    margin: 5rem 0 2rem 0;
  }
  .main__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .main__btns_margin {
    margin-top: 15%;
  }
  .company__btns_margin {
    margin-top: 8.5rem;
  }
  .staff__btns_margin {
    margin-top: 10.5rem;
  }
  .main__btn_icon {
    width: 85%;
  }
  .btn-without-icon {
    width: 18rem;
  }
  .main__footer {
    display: none;
  }
}
.footer-content {
  background-color: #F1F3F8;
}
.footer {
  display: flex;
  padding: 2rem 0;
}
.footer a {
  font-weight: 600;
  color: black;
  font-weight: 500;
}
.footer a:hover {
  opacity: 0.8;
}
.footer__elem {
  margin-left: 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
.footer__mail {
  display: flex;
  flex-direction: column;
  width: 56%;
  align-items: end;
  margin-right: 1rem;
}
.footer__mail a {
  font-weight: 600;
}
.footer__mail p {
  cursor: pointer;
  font-size: 12px;
}
.footer-hr {
  margin: auto;
  width: 90%;
  height: 1.5px;
  background-color: #d9d9d9;
}
.footer__partners {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  padding: 1rem 0;
}
.footer__partners p {
  cursor: default;
  font-size: 12px;
  margin-right: 1rem;
}
.footer__partners img {
  max-width: 5rem;
  transition: 0.4s;
}
.footer__partners img:hover {
  transform: scale(1.03);
}
.footer-mob {
  display: none;
}
@media screen and (max-width: 480px) {
  .footer-content {
    display: none;
  }
  .footer-mob {
    background-color: #F1F3F8;
    display: block;
  }
  .footer__mail {
    align-items: center;
    margin: 2.2rem 0 0 0;
  }
}
.footer-mob__first-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-mob__first-elem ul {
  margin-top: 1.2rem;
}
.footer-mob__first-elem li {
  margin: 1rem;
  padding: 0.4rem;
}
.footer-mob__first-elem a:hover {
  color: #6e6e6e;
}
.font-regular {
  font-weight: 500;
}
.footer-mob__second-elem {
  display: flex;
  flex-direction: column;
}
.footer-mob__second-elem img {
  max-width: 3rem;
}
.footer-mob__logos {
  display: flex;
  flex-direction: row wrap;
  flex: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0.5rem;
}
.footer-mob__text {
  font-size: 10px;
  margin: 0.8rem auto 1.5rem auto;
}
.section-one__imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.section-one__imgs img {
  max-width: 10px;
  height: 10px;
  margin: 0 0.6rem 0 0;
}
.section__title {
  cursor: default;
  font-size: 38px;
  font-weight: 700;
}
.section_margin {
  margin: 3rem 4rem;
}
.section-last_margin {
  padding: 3rem 4rem;
}
.content_margin {
  margin-top: 2rem;
}
.section-two__content {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-top: 1.3rem;
}
.section-two__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.section-two__icons img {
  max-width: 35px;
  height: 35px;
  margin: 0 0.8rem 0 0;
}
.section-last__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0 0 0;
}
.section-last__icons img {
  max-width: 25px;
  margin: 0 0.5rem 0 0;
}
.partners {
  margin: 2rem 5rem;
}
.partners-logo {
  display: flex;
  flex-direction: row;
  margin: 2.5rem auto;
  height: 3.7rem;
  justify-content: space-around;
  gap: 2rem;
}
.partners-logo img {
  max-width: 20%;
  cursor: pointer;
}
.line-height {
  line-height: 20px;
}
.section-tips {
  padding: 3rem 2rem;
  background: url('/public/img/landing/staff-back.png') no-repeat;
  border: 1px solid rgba(255, 255, 255, 0);
}
.section-tips h3 {
  margin-bottom: 1.5rem;
  cursor: default;
}
.section-tips p {
  padding: 1rem;
  cursor: pointer;
}
.section-tips h2 {
  margin-left: 2rem;
}
.section-tips__content {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}
.section-tips__elem {
  background-color: white;
  border: 1.8px solid #ff5f7fb1;
  border-radius: 14px;
  padding: 1rem;
  width: 45%;
  height: 14rem;
}
.section-tips__count {
  text-align: center;
  margin-top: 4rem;
  font-size: 38px;
  font-weight: 700;
}
.section-tips-mob__count {
  display: none;
}
.staff-hr {
  margin: auto;
  width: 100%;
  height: 1.5px;
  background-color: #d9d9d9;
}
.show {
  display: block;
}
.close {
  display: none;
}
@media screen and (max-width: 480px) {
  .section-two__content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .partners {
    margin: 2rem ;
    text-align: center;
  }
  .section_margin {
    margin: 2rem 1.5rem;
  }
  .section-last_margin {
    margin: 1rem;
  }
  .section-two__content {
    margin-top: 0.5rem;
  }
  .section__title {
    font-size: 20px;
    padding: 1rem 0;
    text-align: center;
  }
  .section-last {
    border: 1.8px solid #ff5f7fb1;
    border-radius: 14px;
    padding: 0.7rem;
  }
  .partners-logo img {
    max-width: 40%;
  }
  .section-tips {
    background: none;
    padding: 0;
    margin: 1rem;
  }
  .section-tips h2 {
    margin: 0 0 0.8rem 0.5rem;
  }
  .section-tips h3 {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
  .section-tips__content {
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    margin-top: 0;
  }
  .section-tips__content p {
    padding: 1rem 0;
  }
  .section-tips__elem {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }
  .arrow::after {
    content: "";
    padding: 1rem;
    margin-left: 8.5%;
  }
  .up-arrow::after {
    content: "";
    padding: 1rem;
    margin-left: 10%;
  }
  .show-arraw::after {
    background: url('/public/img/landing/arrow.png') no-repeat center;
    background-size: 25px;
  }
  .close-arrow::after {
    background: url('/public/img/landing/up-arrow.png') no-repeat center;
    background-size: 25px;
  }
  .section-tips__count {
    display: none;
  }
  .section-tips-mob__count {
    padding: 1.5rem;
    margin: 2rem 0 0 0;
    color: white;
    display: block;
    font-size: 22px;
    font-weight: 700;
    background: linear-gradient(70deg, #B000B9, #FF5F7E, #FFAB4C);
  }
  .staff-hr {
    display: none;
  }
  .show {
    display: none;
  }
  .close {
    display: block;
  }
  .content_margin {
    margin: 0.5rem;
  }
}
.request {
  padding: 4rem;
  background: url('/public/img/landing/form-back.png') 100% no-repeat;
  background-size: cover;
}
.request h2 {
  cursor: default;
  font-size: 38px;
  font-weight: 700;
}
.request-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  width: 30%;
  padding: 1.2rem 0.5rem 1.5rem 0;
  margin-top: 1.5rem;
  box-sizing: border-box;
}
.request-form label {
  position: absolute;
  background-color: white;
  padding: 5px;
  margin-left: 15px;
}
.request-form label[for="name"] {
  margin-top: -13px;
}
.request-form label[for="email"] {
  margin-top: 55px;
}
.request-form label[for="comments"] {
  margin-top: 120px;
}
.request-form__item {
  border-radius: 14px;
  background-color: white;
  width: 100%;
  padding: 1rem 2rem;
  color: black;
}
.form-btn {
  margin: 1rem 0;
  border-radius: 14px;
  width: 19rem;
  background: #b9b9b9;
  padding: 1.6px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
}
.form-btn span {
  background-color: white;
  font-size: 14px;
  display: block;
  border-radius: 13px;
  box-sizing: border-box;
}
.form-btn span:hover {
  opacity: 0.9;
}
.text_underline {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .request {
    background: none;
    padding: 1rem 0.5rem;
  }
  .request h2 {
    font-size: 22px;
    padding: 1rem;
    text-align: center;
  }
  .request-form {
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
  }
  .form-btn {
    margin: auto;
    width: 18rem;
    margin: 0.5rem auto;
  }
}
.button-check-domain-group {
  padding: 35px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .button-check-domain-group {
    flex-direction: column;
  }
}
.button-check-domain {
  width: 30%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
}
@media (max-width: 730px) {
  .button-check-domain {
    width: 100%;
  }
}
