.footer{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem 0;
    background-color: $back-dark-gray;
}
.privacy-link{
   margin: auto;
    color: $text-dark-gray;
    cursor: pointer;
}
.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.footer__nav{
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    margin: 0 7.5rem;
    a{
        color: $text-dark-gray;
        &:hover{
            color: $red;
        }
    }
}

@media screen and (max-width: $tablet-width){
.footer__nav{
    width: 65%;
    gap: 2rem;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 1rem;
}
}

@media screen and (max-width: $mobile-width){
    .footer{
        gap: 1.5rem;
    }
    .footer__nav{
        width: 80%;
    }
    .footer__links{
        gap: 1rem;
    }
}