
.board{
   margin-bottom: 5rem;
   
}
@media screen and (max-width: $mobile-width){
    .board{
        min-height: 100%;
        margin-bottom: 8rem;
    }
    #board2{
        display: none;
    }
}
@media screen and (max-width: $tablet-width){
    .board{
        min-height: 100%;
        margin-bottom: 6.5rem;
    }
}