.content {
	display: flex;
	align-items: center;
	padding: 10px 65px;
	gap: 1rem;

}
.left-menu{
	display: none;
}
.left-menu ul {
	list-style-type: none;
	border: 1px solid #bfbfbf;
}

.left-menu li:not(:last-child) {
	border-bottom: 1px solid #bfbfbf;
}

.left-menu a {
	display: block;
	padding: 10px;
	color: #797979;
    &:hover{
    	color: #333;
    }
}

a {
	text-decoration: none;
}

.left-menu {
	flex-shrink: 0;
}

.map {
	width: 100%;
}

.map svg {
	display: block;
	width: 80%;
	transition: all 0.15s;
	margin: 0 auto;
}

.map a {
	transition: all 0.15s;
}

.active {
	background-color: #bfbfbf;
	transition: all 0.15s;
}

.info {
	padding:  0 5rem;
	max-width: 70%;
	min-height: 8rem;
    margin:2rem auto 0 auto;
    text-align: center;
    cursor: default;
    p{
        &:hover{
            color:#bfbfbf ;
        }
    }
}

.info h2 {
	margin-bottom: 20px;
    &:hover{
        color:#bfbfbf ;
    }
}

@media screen and (max-width: $tablet-width){
	.content {
		flex-direction: column;
		margin-top: 4rem;
		padding: 0 2rem;
	}
	.info {
		padding: 0 50px;
		max-width: 100%;
	}
	.map {
		height: 100%;
	}
	
	
}
@media screen and (max-width: $mobile-width){
	.content {
		flex-direction: column;
		margin-top: 2rem;
		padding: 0 1rem;
	}
	.info {
		padding:  0 10px;
		max-width: 100%;
	}
	.map {
		margin-bottom: 6rem;
	}
}

