.footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 0;
    background-color: $back-dark-gray;
    margin: auto;
    width: 50%;
    text-align: center;
    color: $text-dark-gray; 
    p{
        cursor: default;
    &:hover{
        opacity: 0.8;
      }
    }
}
.privacy-link{
    color: $text-dark-gray;
    cursor: pointer;
    font-size: 12px;
    &:hover{
      opacity: 0.8;
    }
}


@media screen and (max-width: $tablet-width){
.footer__nav{
    width: 65%;
    gap: 2rem;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 1rem;
}
}

@media screen and (max-width: $mobile-width){
    .footer{
        gap: 0.5rem;
        padding: 1.5rem 0 7rem 0;
        width: 100%;
    }
    .footer__nav{
        width: 80%;
    }
    .footer__links{
        gap: 1rem;
    }
}