@font-face {
    font-family: "poppins";
    src: url(../../fonts/Poppins-Regular.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url(../../fonts/Roboto-Bold.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Light";
    src: url(../../fonts/Roboto-Light.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url(../../fonts/Roboto-Regular.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Black";
    src: url(../../fonts/Roboto-Black.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Medium";
    src: url(../../fonts/Roboto-Medium.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto-Thin";
    src: url(../../fonts/Roboto-Thin.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "din";
    src: url(../../fonts/DIN2014-Regular.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }

