
.marketing-box{
    display: flex;
 flex-direction: row;
 text-align: start;
    gap: 2rem;
    justify-content: center;
    align-items: baseline;
    border: 1.7px;
    width: 85%;
    margin: 2rem auto;
    cursor: default;
   
}
.marketing{
    text-align: center;
}
.marketing-box__about{
    font-family: 'Roboto-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #0000004b;
    transition: 0.3s linear;
    margin: 0.5em;
    border-radius: 20px;
    padding: 2rem;
     width:50%;
    min-height: 23.5rem;
    
    &:hover{
       transform: scale(1.02);
    }
    a{
        align-self: center;
    }
    li{
        margin-top: 0.5rem;
    }
}
.marketing__title{
    font-family: 'Roboto-Bold', sans-serif;
    color: $red;
    font-size: 18px;
    text-transform: uppercase;
    cursor: default;
    text-align: center;
}

.marketing-box__icon{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding:0.2rem;
    img{
        max-width: 0.6rem;
    }
}
.marketing-box__img{
    margin: auto;
    max-width: 80%;
}


@media screen and (max-width: $tablet-width){
    .marketing-box{
        width: 93%;
        flex-direction: column;
    }

    .marketing-box__about{
        width: 90%;
        margin: auto;
        min-height: 100%;
        align-items: center;
        gap: 1rem;
    }
    }

@media screen and (max-width: $mobile-width){
.marketing-box{
    gap: 1.5rem;
}
.marketing-box__about{
    padding: 1rem;
    gap: 0.5rem;

}
.marketing__title{
    font-size: 16px;
}
.marketing-box_icon{
    margin-top: 0rem;
}
.center{
    text-align: center;
}
}